.__mt-16 {
  margin-top: 16dp;
}
.__mt-18 {
  margin-top: 18dp;
}
.__mt-20 {
  margin-top: 20dp;
}
.__mt-30 {
  margin-top: 30dp;
}
.__mb-34 {
  margin-bottom: 34dp;
}
.__mx-24 {
  margin-left: 24dp;
  margin-right: 24dp;
}
.__f12 {
  font-size: 12dp;
}
.__f14 {
  font-size: 14dp;
}
.__text-center {
  text-align: center;
}
.__text-silver {
  color: #d6d6d6;
}
.__bg-white {
  background-color: white;
}
.__horizontal-right {
  horizontal-alignment: right;
}
.__vertical-center {
  vertical-alignment: center;
}
